.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.loginForm {
    margin: 20px auto;
    padding: 40px 50px;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #c0c0c0;
    height: 50%;
}

.ant-layout-sider-children {
    background-color: #ffffff;
    border-right: 1px solid #c0c0c0;
}

.logoutNav {
    top: 0;
    right: 0;
    margin-right: 20px;
    float: right;
    position: absolute;
}

.logoutNav a, .returnBtn a {
    color: #ffffff;
    font-weight: bold;
}

.logoutNav a:hover, .returnBtn a:hover {
    opacity: 0.55;
}

.itemQuantity p {
    margin: 0 auto;
    font-weight: bold;
    font-size: medium;
}

.ant-list-item-meta-content {
    text-align: start;
    align-self: center;
}

.price-box {
    height: 2vh;
    display: flex;
    justify-content: flex-end;
}

.price {
    font-size: larger;
    position: relative;
    right: 10px;
}

.cartBox {
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    margin: 3vw;
    box-shadow: -5px 5px 20px #d0d0d08a;
}

.cartHeaderCheckout {
    height: 5vh;
    align-items: flex-end;
    display: flex;
    justify-content: center;
}
.divider {
    display: flex;
    flex-direction: row;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
}
.divider:before, .divider:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
    opacity: 0.2;
}
.divider:before {
    margin: auto 1vw;
}
.divider:after {
    margin: auto 1vw;
}

.line {
    display: flex;
    flex-direction: row;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
}
.line:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
    opacity: 0.2;
}
.line:after {
    margin: auto 1vw;
}

.shippingInput {
    margin-right: 1vw;
    width: 20vw;
}

.billingDivider {
    opacity: 0.1;
    margin-bottom: 1vh;
}

.ant-modal-content {
    width: 110%;
}

.returnBtn {
    position: relative;
    float: left;
}